body {
    background-color: rgb(183, 233, 238);
    height: 100vh;
    margin: 0 auto;
}

input {
    width: 0;
    margin: 0;
    padding: 0;
}

.title {
    width: 70rem;
    font-size: 60px;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 70rem;    
}

.section {   
    width: 100%; 
    border: 10px solid rgb(226, 92, 92);
    border-radius: 3%;
    overflow: hidden;
}

.sliders {
    width: 500%;
    height: 600px;
    background-color: rgb(217, 181, 181);
    display: flex;
    transition: all 1s ease;
}

.slide {
    width: 20%;
    height: 100%;  
}

.slide > img {
    width: 100%;
    height: 100%;
}

input[name="rb"] {
    visibility: hidden;
    transform: translateX(-9999%);
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
}
.text {
    width: 75%;
    font-size: 50px;
    margin-left: 10px;
    display: grid;
    grid-template-areas: 'grid1 grid2 grid3 grid4 grid5';
    grid-gap: 10px;
    align-items: center;
    visibility: hidden;
}

.text > span {
    text-align: center;
}

.text > .text1 {
    grid-area: grid1;
}

.text > .text2 {
    grid-area: grid2;
}

.text > .text3 {
    grid-area: grid3;
}

.text > .text4 {
    grid-area: grid4;
}

.text > .text5 {
    grid-area: grid5;
}

.controls {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;    
}

.navigation {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}

.navigation > .btn {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(57, 54, 237);
}

.navigation:hover > div {
    background-color: white;
} 

.navigation:active > div {
    background-color: rgb(53, 49, 56);
} 

#rb1:checked ~ .sliders {
    margin-left: 0;
}

#rb1:checked ~ .footer > .text > .text1 {
    grid-area: grid1;
    visibility: visible;
}

#rb2:checked ~ .sliders {
    transform: translateX(-20%);
}

#rb2:checked ~ .footer > .text > .text2 {
    grid-area: grid1;
    visibility: visible;
}

#rb3:checked ~ .sliders {
    transform: translateX(-40%);
}

#rb3:checked ~ .footer > .text > .text3 {
    grid-area: grid1;
    visibility: visible;
}

#rb4:checked ~ .sliders {
    transform: translateX(-60%);
}

#rb4:checked ~ .footer > .text > .text4 {
    grid-area: grid1;
    visibility: visible;
}

#rb5:checked ~ .sliders {
    transform: translateX(-80%);
}

#rb5:checked ~ .footer > .text > .text5 {
    grid-area: grid1;
    visibility: visible;
}

@media screen and (max-width:767px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        height: 170px;
    }

    .text {
        align-self:flex-start;
        padding-bottom: 50px;
    }
}